# Archivos de Eclipse
.classpath
.project
.settings/

# Archivos compilados
bin/
build/

# Archivos temporales del sistema
*.log
*.tmp
*.bak
*.swp

# Archivos de sistema operativo
.DS_Store
Thumbs.db
